<!DOCTYPE html>
<html>
<head>
  <title>Quicknote</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Martel:100,300,400,700" rel="stylesheet">
  <script>
    window.introVideo = '<%= asset_path('For_Wes.webm') %>'
    window.headerIcon = '<%= asset_path('fast-forward.png') %>'
    window.modalIcon = '<%= asset_path('owl.png') %>'
    window.sidebarAddNoteNormal = '<%= asset_path('add-note-normal.png') %>'
    window.sidebarAddNoteHovered = '<%= asset_path('add-note-hovered.png') %>'
    window.sidebarAllNotesNormal = '<%= asset_path('notes-normal.png') %>'
    window.sidebarAllNotesHovered = '<%= asset_path('notes-hovered.png') %>'
    window.sidebarNotebooksNormal = '<%= asset_path('notebooks-normal.png') %>'
    window.sidebarNotebooksHovered = '<%= asset_path('notebooks-hovered.png') %>'
    window.sidebarTagsNormal = '<%= asset_path('tags-normal.png') %>'
    window.sidebarTagsHovered = '<%= asset_path('tags-hovered.png') %>'
    window.drawerCreateNotebook = '<%= asset_path('create-notebook-icon-plus.png') %>'
    window.drawerDeleteNotebook = '<%= asset_path('trashcan-icon-white-outline.png') %>'
    window.drawerDeleteNotebookHovered = '<%= asset_path('trashcan-icon-white-filled.png') %>'
    window.drawerDeleteTag = '<%= asset_path('tag-trashcan-grey-filled.png') %>'
    window.drawerDeleteTagHovered = '<%= asset_path('tag-trashcan-green-filled.png') %>'
    window.noteviewDeleteHovered = '<%= asset_path('trashcan-icon-green-outline.png') %>'
    window.noteviewDeleteNormal = '<%= asset_path('trashcan-icon-grey-outline.png') %>'
    window.noteviewSaveNormal = '<%= asset_path('save-icon-grey-outline.png') %>'
    window.noteviewSaveHovered = '<%= asset_path('save-icon-green-outline.png') %>'
    window.noteviewTags = '<%= asset_path('tags-noteview.png') %>'
    window.notebookUpdate = '<%= asset_path('notebook-update.png') %>'
    window.logout = '<%= asset_path('log-out.png') %>'
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
