<!DOCTYPE html>
<html>
<head>
  <title>Quicknote</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans" rel="stylesheet">
  <script>
    window.introVideo = '<%= asset_path('For_Wes.webm') %>'
    window.headerIcon = '<%= asset_path('fast-forward.png') %>'
    window.modalIcon = '<%= asset_path('owl.png') %>'
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
